@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway',sans-serif;
  
}

/*header*/
header{
  margin: 1.5em;
  position: absolute;
  left: 0;
  right: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  }

  .logo
  {
    width: 150px;
  }
nav ul{
  list-style-type: none;
   display: flex;
   justify-content: center;
  align-items: center;  
}
nav li
{
  margin:1em ;
}
nav ul li a{
  text-decoration: none;
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: .3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
nav a:hover,
nav a:focus{
  color: #00ff6c;
}
.container
{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media(min-width:50rem){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li a{
    font-size: 0.9rem;
    padding: .5em;
  }
}

/* Typography */
.title
{
  font-size: 3.3rem;
  text-transform: uppercase;
}
.title span{
  font-weight: 400;
  display: block;
  font-size: .4em;
  text-transform: lowercase;
}

/*Media Query*/
@media(min-width:50rem){
  .title
  {
    font-size: 4rem;
  }
}

/*hero-area*/
.first-sec
{
  background-image: url(./Images/javier-patino-loira-plIae3zGd8U-unsplash.jpg);
  padding: 10em 0;
  background-position: center ; 
  box-shadow: 0 0 10em 20em rgba(0, 0, 0, 0.5) inset;
    /* background-repeat: no-repeat;  */
  background-size: cover;
  
  color: #FFF;

}
/*Media Query*/
@media(min-width:50rem){
.first-sec{
 height: 100vh;
 padding-top: 30vh;
}
}
.button
{
  text-decoration: none;
  padding: .6em 1em;
  border: 2px solid #00ff6c;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #00ff6c;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.button:hover,
.button:focus{
  color: white;
  background-color: #00ff6c;
}
.different
{
  background-color: #00ff6c;
  color: white;
}
.different:hover,
.different:focus{
  color: #00ff6c;
  background-color: transparent;
}
.small
{
  font-size:1rem ;
  font-weight: 400;
  padding: .3em 1em;
}
/*Two Buttons*/
.link-button
{
  display: flex;
  justify-content: center;
}
.link-button a{
  margin: 1.5em;
}
@media(min-width:50rem)
{
  .button
  {
    padding: .5em 1.75em;
    font-size: 1.15rem;
  } 
}

/*second-section*/
.container-2{
  position: relative;
}
.second-sec{
  background-color: #232323;
  padding: 4em 2.5em;
  color: white;
  outline: 2px solid #00ff6c;
  outline-offset: -2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-title{
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0;
  color: #00ff6c;
  position: absolute;
  background: #232323;
  top: .3em;
  padding: 0 .2em;
}
@media(min-width:50rem)
{
  .about-section
  {
    background-image: url(./Images/1717835640743.jpg);
    padding:20em 10em;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 30em rgba(0, 0, 0, 0.5) inset;
  }
  .second-sec
  {
    width: 60%;
    text-align: left;
    position: absolute;
    top: 5rem;
    left: 2rem;
    line-height: 1.5rem;
    border-radius: 5px;
  }
}

/* Projects Section*/
.third-sec{
  margin: 2em 0;
}
h2{
  font-size: 2.5rem;
  font-weight: 400;
}
.projects
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pro-item
{
  position: relative;
}
.pro-disc
{
  position: absolute;
  z-index: 10;
  bottom: 6em;
  left: 3em;
  right: 3em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  padding:1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
}
@media(min-width:50rem)
{
.projects
{
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pro-item
{
  margin: 0.2em;
}
}

footer
{
  margin: 1em;
  background-color: #232323;
  padding: 3em 1em;
  color:  white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.links ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.links a
{
  color: white;
}
.icons
{
  width: 40px;
  fill: white;
}
.info
{
  margin: 2em 0;
}
@media(min-width:50rem)
{
  .links ul{
    justify-content: space-evenly;
  }
  .info
  {
    font-size: 1.5rem;
  }
}
.name
{
  color: #00ff6c;
}